body{
    margin: 0;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list li{
    border: 1px 
}
.list li img{
    width: 300px;
    height: 200px;
}
.list li:hover{
    border: 2px solid wheat;
}